/********************* Custom Styles ***********************/
html {
    font-size: 16px;
}
body {
    line-height: 1.5;
    font-family: $font-family;
    background-color: $primary-background;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.padding {
    padding: 3rem 0;
}
.margin {
    margin: 10rem 0;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;

}

/* ********** Button ********** */
.btn {
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: $primary-color;
    background-color: rgba($primary-background, 0.4);
    border-radius: 50px;
    box-shadow: 1px 1px 2px #000;
    font-weight: 700;
    font-size: 1.1rem;
    &:hover {
        color: rgba($primary-background, 0.4);
        background-color: $primary-color;
        box-shadow: 1px 1px 2px $primary-background;
    }
}
.action-btn {
    display: none;
}


/*********** Flex ***********/
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.flex-column {
    flex-direction: column;
}
.flex-50 {
    flex: 0 1 50%;
}
/************ Headings ***********/
@while $heading <= 6 {
    h#{$heading} {
        font-size: 2.5 - ($heading *0.25rem);
        font-weight: 700;
        text-align: center;
    }
    $heading: $heading + 1;
}
.heading-section {
    margin: 2rem 0;
}
.heading-footer {
    text-align: left;
}
.heading-serve, .heading-service {
    color:rgba($primary-background, 0.1);
}
.top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color: rgba($primary-background, 0.4);
    text-align: center;
    color: #fff;
}
.hero {
    position: relative;
    z-index:2;
}
/* ************ Internet Banking ********** */
.internet-banking {
    position: fixed;
    padding: 1rem;
    background: linear-gradient(gold, orange);
    top: 15%;
    right: 2%;
    border-radius: 1rem;
    font-weight: 700;
    color: #000;
}

/************ Personal Business Agriculture NRI **********/
/* *********** About *********** */
.about-left {
    justify-content: center;
    padding: 2rem;
    color: rgba($primary-color, 0.6);
    text-shadow: 1px 1px 1px #000;
    border: 0.25rem solid rgb(1, 1, 27);
    box-shadow: 1px 1px 2px black;
    p {
        margin-top: 1rem;
    }
    
}
.about-img {
    border-radius: 1rem;
    margin: 0 2rem;
    height: 80vh;
    box-shadow: 1px 1px 5px #000;
}
.para-about, .para-products-services {
    font-size: 1.2rem;
    text-align: center;
    margin: 0.5rem 0;
    color: $primary-color;
}
/*********** Products-Services ***********/
.products-services {
    .service-accounts {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .service-insurance{
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    padding: 8rem 0;
    color: $primary-color;
    h3 {
        color: $primary-background;
    }
    p {
        text-align: center;
    }
    img {
        padding: 2rem;
    }
    .para-products-services {
        margin-bottom: 2rem;
    }
    .service-para {
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem 0;
        color: $primary-color;
    }

}
/********************** Media Query *********************/
@media screen and (max-width:1200px) {
 .about {
     margin-top: 5rem;
 }
}
@media screen and (max-width:768px) {
    .about {
        border: 0.5rem solid rgb(1, 1, 27);
        flex-direction: column;
        margin-top: 8rem;
        padding: 2rem;
        img {            
            margin: 0;
        }
    }
    .about-left {
        margin-bottom: 2rem;
        border: 0;
        box-shadow: 1px 1px 1px transparent;
    }
    .products-services {
        .service {
            flex-direction: column;
            img {
                width: 100%;
            }
        }

    }

}
 @media screen and (max-width:540px) {    

   
}