/********************* Home Page ********************/
/*********** Grid *********/
.container-grid {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "to-do to-do to-do to-do"
                         "serve-farmer serve-businessman serve-salaried serve-students"
                         "numbers numbers numbers numbers"
                         "service-accounts service-loans service-cards  service-insurance";
    color: $primary-color;               
    text-shadow: 1px 1px 1px $primary-background;      
}
.to-do, .serve-farmer, .serve-businessman, .serve-salaried, .serve-students, .service-accounts, .service-loans, .service-cards, .service-insurance {
    padding: 3rem;
}
.to-do {
    grid-area: to-do;
    background: rgba($secondary-background,0.3);
}
.serve-farmer {
    grid-area: serve-farmer;
    background: rgba($secondary-background,0.5);
}
.serve-businessman {
    grid-area: serve-businessman;
    background: rgba($secondary-background,0.6);
}
.serve-salaried {
    grid-area: serve-salaried;
    background: rgba($secondary-background,0.5);
}
.serve-students {
    grid-area: serve-students;
    background: rgba($secondary-background,0.6);
}
.numbers {
    grid-area: numbers;
}
.service-accounts {
    grid-area: service-accounts;
    background: rgba($secondary-background,0.6);
}    
.service-loans {
    grid-area: service-loans;
    background: rgba($secondary-background,0.5);
}
.service-cards {
    grid-area: service-cards;
    background: rgba($secondary-background,0.6);
}
.service-insurance {
    grid-area: service-insurance;
    background: rgba($secondary-background,0.5);
}

/********** Hero **********/
.hero{
    display: grid;
    width: 100%;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    padding-top: 9rem;
    background: $primary-background;
}
.triangle {
    position: absolute;
    border-top: 5rem solid transparent;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    height: 2rem;
    width: 2rem;
    top: 88%;
    left: 45%;
    animation: arrow 5s ease-in 8s 1 normal forwards;
}
.hero-text {
    position: absolute;
    top: 20%;
    text-align: center;
    color: transparent;
    width: 100%;
    padding: 1rem 20%;
    font-size: 5rem;
    animation: see 1s linear 7s 1 normal forwards;
}
.farming {
    background: url("../media/farming.jpg");
}
.businessman {
    background: url("../media/businessman.jpg"); 
}
.businesswoman {
    background: url("../media/business-women.jpg");
}
.students {
    background: url("../media/students.jpg");
}
.farming, .businessman, .businesswoman, .students {
    overflow: hidden;
    background-size: cover;
    box-shadow: 1px 1px 10px 5px #000;
    position: relative; 
}
.farming, .businesswoman {
    animation: slide-right 5s ease-in 0s 1 normal forwards;
}
.businessman, .students {
    animation: slide-left 5s ease-in 0s 1 normal forwards;
}     

@keyframes slide-left {
    0% {
        width:25%;
        right: calc(25% + 1rem);
    }
    25% {
        width: 100%;
        right: calc(100% + 1rem);
    }
    50% {
        width: 75%;
        right: calc(25% + 1rem);
    }
    100% {
        width: 100%;
        right: 0%;
    }
}

@keyframes slide-right {
    0% {
        width: 25%;    
        left: calc(25% + 1rem);    
    }
    25% {
        width: 100%;
        left: calc(100% + 1rem);         
    }
    50% {
        width: 75%;
        left: calc(25% + 1rem);    
    }
    100% {
        width: 100%;
        left: 0%;   
    }
}

@keyframes see {
    0% {
       color: $primary-color;
       background-color: rgba(#000, 0.7);
       text-shadow: 1px 1px 1px #fff;
    }
    100% {
        color: $primary-color;
        background-color: rgba(#000, 0.7);
        text-shadow: 1px 1px 1px #fff;
     }

}
@keyframes arrow {
    0% {
        top: 50%; 
        border-top: 5rem solid rgba($primary-color, 0.2);
    }
    25% {
        top: 90%;  
        border-top: 5rem solid rgba($primary-color, 0.4);      
    }
    50% {
        top: 60%;    
        border-top: 5rem solid rgba($primary-color, 0.6);
    }
    100% {
        top: 75%;  
        border-top: 5rem solid rgba($primary-color, 0.8);
    }
}

/******************** To do **********************/
.action {
    font-size: 1.5rem;
    padding: 2rem;
    border: 5px solid $primary-color;
    margin-top: 1rem;
    &:hover {
        box-shadow: 1px 1px 10px 5px $primary-background;
        padding: 1.3rem 2rem;
    }
    &:hover .action-btn{
        display: inline-block;
    }
}
/*********** We Serve ***********/
.serve i {
    font-size: 6rem;
    margin: 2rem 0;
}
.serve-para, .service-para {
    font-size: 1.2rem;
    text-align: center;
    margin: 0.5rem 0;
    color: $primary-color;
    //text-shadow: 0px 0px 3px #000;
}
.serve-btn, .service-btn {
    margin-top: 1rem;
}
/* ********* Numbers *********** */
.numbers {
    background-color: rgba(61, 56, 56, .6);
    .flex {
        width: 20%;
    }
}
.numbers i {
    margin: 1rem 0;
    font-size: 2rem;
}
.count {
    font-size: 4rem;
}

/*********** We Provide  Service ***********/
.service img {
    height: 35%;
    margin-bottom: 1rem;
}

/*********** Media Querries ************/
@media screen and (max-width:1200px) {
    html {
        font-size: 14px;
    }
    
    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: 100vh; 
        height: 100vh;
        padding: 0rem;
        margin-bottom: 0;
        z-index: 2;
    }
    .farming, .businessman, .students {
        display: none;
    }
    .businesswoman {
        background-position: 20% 60%;
        animation: none;
        box-shadow: 0 0 0 #000;
    }
    .hero-text {
        animation-delay: 1s;
    }
    .triangle {
        animation-delay: 2s;
    }

}
@media screen and (max-width:970px) {

    .container-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "to-do to-do"
                         "serve-farmer serve-businessman" 
                         "serve-students serve-salaried "
                         "numbers numbers"
                         "service-accounts service-loans" 
                         "service-insurance service-cards";
    }
    .service img {
        width: auto;
        height: 12rem;
    }
    .container-header {
       flex-direction: column;
       text-align: center;
       align-items: center;
    }
    .nav-header {
        margin-top: 1rem;
    }
    .hero-text {
        padding: 2rem;
    }
}
@media screen and (max-width:768px) {
    .container-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "to-do"
                         "serve-farmer" 
                         "serve-students"                                                   
                         "serve-salaried "
                         "serve-businessman" 
                         "numbers"
                         "service-accounts"
                         "service-insurance"
                         "service-cards"
                         "service-loans";                          
                         
    }
  
    .sm-flex-column {
        flex-direction: column;
        align-items: center;
    }
    .sm-padding { 
        padding: 2rem 0;
    }
}
 @media screen and (max-width:540px) {    
    html {
        font-size: 10px;
    }
    .to-do li {
        display: flex;
        flex-direction: column;
        text-align: center;
        .btn {
            margin-top: 1rem;
        }
    } 
    .hero-text {
        font-size: 4rem;
    }
   
}