$font-family:'Lato', sans-serif;

$primary-color: #ADEFD1;  //Mint
$secondary-color: rgb(187, 183, 183);
$tertiary-color: #fff;

$primary-background: #00203F;  //Sailor Blue
$secondary-background: #ADEFD1;
$tertiary-background: #606060; //Gray

$heading: 1;