/* ********** Welcome ********** */
.main-welcome {
    padding: 10rem 2rem;
    background-color: rgba($primary-color,0.5);
    color: $primary-background;
    height: 60vh;

    h2 {
        padding-top: 2rem;
    }
}